@layer theme, base, antd, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'antd/dist/reset.css' layer(base);
@import 'antd/dist/antd.css' layer(antd);
